body {
  margin: 0;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0 !important;
  margin: 0 !important;
}

.ant-form-vertical .ant-form-item-label > label {
  font-family: var(--font-cabin) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  text-align: left !important;
  color: #4c4d4f !important;
  margin: 0 !important;
  padding: 0 0 8px 0 !important;
}

.ant-form-item .ant-form-item-explain-error {
  font-family: var(--font-cabin) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #e11d48 !important;
  padding: 8px 0 0 0 !important;
  margin: 0 !important;
}
